.flex {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 20px;
    border: 1px black solid;
    border-radius: 15px;
    padding: 3px;
}

.priority_red {
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    color: white;
    border: 1px solid white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: red;
    margin-left: 20px;
}

.priority_yellow {
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    color: white;
    border: 1px solid white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: orange;
    margin-left: -20px;
}

.priority_green {
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    color: white;
    border: 1px solid white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
    margin-left: 18px;
}

.delete {
    margin-bottom: 3px;

}

.button_container {
    display: flex;
    margin-left: -45px;
}

.button {
    margin-left: 22px;
}

.button_delete {
    color: black;
    background-color: white;
}

.button_all {
    background-color: red;
    color: darkorange;
    border: 2px solid black;
}