/*.menu {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.menu:hover {
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

.href {
    display: flex;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.href:hover {
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
    border-radius: 10px;
}

.navlink {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.a {
    display: flex;
    justify-content: space-between;
    margin-left: 310px;
    margin-right: 300px;
    margin-top: 15px;
}*/
.span {
    color: #936c6c;
    margin-left: 8px;
}

.container {
    font-size: 1.3rem;
    height: 25px;
}

.navigation {
    background-color: sandybrown;
    border-radius: 0 18px 18px 0;
    width: 410px;
    transform: translate(-290px);
    transition-duration: 1s;
}

.navigation:hover {
    transform: translate(0);
    transition-duration: 1s;
}
.navlink {
    text-decoration: none;
    color: darkslateblue;
    margin-left: 10px;
}

navlink:hover {
    color: black;
}

.item {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #2d2626;
}

.active {
    color: #66afaf;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}
